<!DOCTYPE html>
<html>
  <body>

    <!-- <div class="wrapper"> -->
      <div class="parent">
        <div class="left">
          <div class="avater">
            <img
              src="./assets/mypicBgrnd.png"
              alt="Avatar"
              width="70%"
              height="70%"
            />
          </div>
          <button
            style="
              color: black;
              background-color: white;
              width: 100%;
              border-style:solid;
              border-radius: 20%;
              margin-top: 10%;
            "
            routerLink="about"
          >
            ABOUT
          </button>
          <button
            style="
              color: black;
              background-color: white;
              width: 100%;
              border-style: solid;
              border-radius: 20%;
              margin-top: 10%;
            "
            routerLink="experience"
          >
            EXPERIENCE
          </button>
          <button
            style="
              color: black;
              background-color: white;
              width: 100%;
              border-style:solid;
              border-radius: 20%;
              margin-top: 10%;
            "
            routerLink="education"
          >
            EDUCATION
          </button>
          <button
            style="
              color: black;
              background-color: white;
              width: 100%;
              border-style:solid;
              border-radius: 20%;
              margin-top: 10%;
            "
            routerLink="skill"
          >
            SKILLS
          </button>
          <button
            style="

              color: black;
              background-color: white;
              width: 100%;
              border-style:solid;
              border-radius: 20%;
              margin-top: 10%;

            "
            routerLink="interest"

          >
            INTERESTS
          </button>
        </div >
         <div class="right">
          <div  >
            <router-outlet></router-outlet>
          </div>
         </div>

      </div>
    <!-- </div> -->
<!---div new-->

    <!-- -->
  </body>
</html>
