<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5 Elite">Experience</h2>
    <div
      class="d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="flex-grow-1">
        <h3 class="mb-0 Elite">Project Coordinator(Software Engineer)</h3>
        <div class="subheading mb-3">Robi Axiata Limited</div>
        <p class="Alegreya">
          I joined Robi on a six month contract. My job was to develop their various websites.I was engaged with their KPI Dashboard and customer experience dashboard project.
          Along with that i used to develop API using Django Rest Framework
        </p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">May 2021 - Present</span>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="flex-grow-1">
        <h3 class="mb-0 Elite">IT Executive -Grtoup IT</h3>
        <div class="subheading mb-3">M&J Group</div>
        <p class="Alegreya">
          I worked around 8-9 month At M&J group. At M&J group my task was to develop oracle form using oracle ADF framework. beside that i had to write pql query if need.
          i switch my job beacuse at M&J my job was only  developing form using   oracle ADF framework,but i wanted to learn more along with ADF
        </p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">August 2020 - May 2021</span>
      </div>
    </div>


  </div>
</section>
<hr class="m-0" />

